@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    }
    
    .cabecalho {
    background-color: #383D58;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabecalho-imagem {
    width: 20%;
    }
    
    .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    }
    
    .escola-imagem {
    width: 35%;
    }
    
    .escola {
    background-image: linear-gradient(#383D58, #ffffff00);
    color: #FFFFFF;
    }