@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap&#39;)

* {
padding: 0%;
margin: 0%;
}

body{
font-family: 'Ojuju';
}



.cabecalho {
background-color: #c086f0;
color: #d1b0f7;
display: flex;
justify-content: spece-around;
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem {
width: 10%;
}

.cabecalho-lista-item{
display: inline-black;
margin: 0 16px;
font-size: 24px;
}

.escola-imagem {
width: 25%;
}

.escola {
background-image: linear-gradient(#d45bdfb2,#8e5aeece);
color:purple
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}

.escola-titulo{
padding: 24px 0;
}

.conteudo{
width:35%;
}

.estudante-titulo
text-aling: center;
padding: 50px 0;